html {
    scroll-behavior: smooth;
}

body {
    font-family: 'Raleway', sans-serif;
}

.container {
    margin-left: 7%;
    margin-right: 7%;
}

@media screen and (min-width: 768px) {
    .container {
        margin-left: 5%;
        margin-right: 5%;
    }
}

@media screen and (min-width: 1024px) {
    .container {
        margin-left: 9%;
        margin-right: 9%;
    }
}
