section {
    margin-top: 1.3rem;
}

.titulo__vertodo {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.categoria__titulo {
    color: #464646;
    font-family: Raleway;
    font-size: 22px;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
}

.categoria__vertodo{
    display: flex;
    align-items: center;
    color: #2A7AE4;
    font-family: Raleway;
    font-size: 14px;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
}

.categoria__vertodo img{
    margin-left: 0.2rem;
}

.productos {
    display: flex;
    flex-direction: column;
    gap: 1rem;
}

.productos__lista {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-between;
}

.prducto_item {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    gap: 0.3rem;
    margin-bottom: 2rem;
}

.nombre__producto{
    color: var(--preto-100, #464646);
    font-family: Raleway;
    font-size: 14px;
    font-style: normal;
    font-weight: 500;
    line-height: normal;
    max-width: 156px;
}

.precio_producto {
    color: var(--preto-100, #464646);
    font-family: Raleway;
    font-size: 16px;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
}

.ver__producto {
    color: var(--azul-100, #2A7AE4);
    font-family: Raleway;
    font-size: 14px;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
}

.prducto_item a img {
    width: 166px;
    height: 174px;
}

.prducto_item a img:hover {
    animation: pulse;
    animation-duration: 0.7s;
}

@media screen and (max-width: 1024px) {
    .extras {
        display: none;
    }
}

@media screen and (min-width: 768px) {
    .prducto_item a img{
        width: 164px;
        height: 174px;
    }
}

@media screen and (min-width: 1024px) {
    .prducto_item a img{
        width: 176px;
        height: 174px;
    }

    .categoria__titulo {
        font-size: 32px;
    }
}
