.nav {
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-top: 1rem;
    margin-bottom: 1rem;
    gap: 2rem;
}

.nav__logo {
    display: flex;
    align-items: center;
    justify-content: flex-start;
}

.logo__contol {
    width: 35px;
    flex-shrink: 0;
}

.logo__letras {
    width: 78.593px;
    flex-shrink: 0;
}

.button__login {
    cursor: pointer;
    width: 133px;
    padding: 12px 16px;
    border: 1px solid #2A7AE4;
    background-color: transparent;
    color:#2A7AE4;
    font-family: Raleway;
    font-size: 14px;
    font-style: normal;
    font-weight: 600;
    line-height: normal;
}

.button__login:hover {
    background-color: #2A7AE4;
    color: #F5F5F5;
    animation: headShake;
    animation-duration: 1s;
}

@media screen and (max-width: 768px) {
    .nav__search, .prueba {
        display: contents;
    }
}


@media screen and (min-width: 768px) {
    .nav {
        margin-top: 2rem;
        margin-bottom: 2rem;
    }
    
    .nav__logo-search {
        display: flex;
        align-items: center;
        justify-content: space-between;
        gap: 2rem;
    }

    .nav__search {
        padding: 8px 16px;
        border-top-left-radius: 20px;
        border-bottom-left-radius: 20px;
        background-color: #F5F5F5;
        border: 1px solid #F5F5F5;
        width: calc(272px - 40px);
        color: #A2A2A2;
        font-family: Raleway;
        font-size: 14px;
        font-style: normal;
        font-weight: 400;
        line-height: 114.286%;
    }

    .nav__search:focus {
        outline: none;
    }

    .prueba {
    
        margin-left: -2rem;
        background-color: #F5F5F5;
        background-image: url(../img/Icone_search.svg);
        background-position: center;
        background-repeat: no-repeat;
        background-size: 24px;
        height: 33.7px;
        width: 40px;
        border: none;
        border-top-right-radius: 20px;
        border-bottom-right-radius: 20px;
    }

    .nav__logo {
        display: flex;
        align-items: center;
        justify-content: flex-start;
    }
    
    .button__login {
        width: 166px;
    }
    
    .icon__search {
        width: 24px;
        height: 24px;
    }

    .nav__search--icon {
        display: none;
    }
}

@media screen and (min-width: 1024px) {
    .logo__contol {
        width: 49.997px;
        height: 50px;
    }

    .logo__letras {
        width: 126.003px;
        height: 18.5px;
    }

    .nav__search {
        width: calc(393px - 40px);
    }

    .button__login {
        width: 182px;
        padding: 16px;
        font-size: 16px;
    }
}

/*

.nav {
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-top: 2rem;
    margin-bottom: 2rem;
}





.button__login {
    width: 182px;
    padding: 15px;
    border: 1px solid #2A7AE4;
    background-color: transparent;
    color:#2A7AE4;
    font-family: Raleway;
    font-size: 16px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
}



*/